@charset "utf-8";

/* common */
.mod_clearFix::after{
  visibility:hidden;
  height:0;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
}

/* contents */
#container{
  text-align: center;
  min-width: 100%;
  width: 980px;
}

/* header */
.l_headerInner{
  text-align: left;
  /*max-width: 930px;*/
  margin-left: auto;
  margin-right: auto;
  padding-left: 27px;
  padding-right: 27px;
}
.l_headerLogo{
  line-height: 1;
}
.l_headerLogo img{
  vertical-align: middle;
}
.l_headerTop{
  padding: 26px 0px;
  background-color: #000;
}
.l_headerBottom{
  color: #333;
  padding: 17px 0px;
  /*margin-bottom: 3px;*/
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.l_headerBottom_logo{
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
}
.l_headerBottom_subText{
  line-height: 1;
  margin-left: 10px;
}
.l_headerBottom_logo,
.l_headerBottom_subText{
  display: inline-block;
  vertical-align: middle;
}
#header{
  background-color: #fff;
}

@media screen and (max-width: 720px) {
  .l_headerBottom_subText img{
    width: 60px;
  }
  .l_headerLogo img{
    max-width: 100%;
    width: auto;
  }
}
@media screen and (max-width: 440px) {
  .l_headerTop{
    padding: 15px 0px;
  }
  .l_headerLogo img{
    max-width: 60px;
    width: auto;
  }
  .l_headerBottom_logo{
    font-size: 12px;
    font-weight: bold;
  }
}
@media screen and (max-width: 350px) {
  .l_headerBottom_logo{
    font-size: 11px;
  }
  .l_headerBottom_subText img{
    width: 50px;
  }
}

/* footer */
.l_footer{
  text-align: center;
  background-color: #333;
  padding-top: 15px;
  padding-bottom: 15px;
}
.l_footerInner{
  padding-left: 25px;
  padding-right: 25px;
}
.l_footerTop,
.l_footerBottom{
  font-size: 11px !important;
  color: #b4b4b4;
  line-height: 1;
  opacity: 0.5;
  letter-spacing: 1px;
}
.l_footerTop{
  display: none;
}
.l_footerBottom{
  margin-top: 6px !important;
}
@media screen and (max-width: 830px) {
  .l_footerTop{
    display: block;
  }
}
@media screen and (max-width: 440px) {
  .l_footerTop,
  .l_footerBottom{
    font-size: 10px !important;
  }
}
@media screen and (max-width: 330px) {
  .l_footerTop,
  .l_footerBottom{
    font-size: 8px !important;
  }
}
