<div class="l_footer">
  <div class="l_footerInner">
    <p class="l_footerTop">「ソニー」および「SONY」はソニー株式会社の登録商標です。</p>
    <p class="l_footerBottom">Copyright 2017 Sony Biz Networks Corporation</p>
  </div>
</div>

<!-- facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- /facebook -->

<!-- pardot -->
<script type="text/javascript">
piAId = '148101';
piCId = '1515';

(function() {
 function async_load(){
  var s = document.createElement('script'); s.type = 'text/javascript';
  s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
  var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
 }
 if(window.attachEvent) { window.attachEvent('onload', async_load); }
 else { window.addEventListener('load', async_load, false); }
})();
</script>
<!-- /pardot -->
