<div class="l_header">
 <div class="l_headerTop">
   <div class="l_headerInner">
     <div class="l_headerLogo"><img src="/recruit/_include/sonyparts/images/sony_logo.png" alt="SONY"></div>
   </div>
 </div>
 <div class="l_headerBottom">
   <div class="l_headerInner">
     <p class="l_headerBottom_logo" tabindex="1"><a href="/recruit/">Sony Biz Networks Corporation</a></p>
     <p class="l_headerBottom_subText"><img src="/recruit/img/header/employment.gif" alt="採用情報"></p>
   </div>
 </div>
</div>
