@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
/** main visual **/
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
       transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
       transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
       transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
       transform: translateX(0);
  }
}
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  -o-animation-name: bounceInLeft;
     animation-name: bounceInLeft;
}
.main-visual {
	margin-top: 99px;
}
.main-slider {
	width: 100%;
	&_item {
		position: relative;
		&--img {
			width: 100%;
			img {
				width: 100%;
				height: auto;
			}
		}
		&--txt {
			color: #fff;
			font-size: 22px;
			width: 100%;
			position: absolute;
			left: 0;
			top: 80px;
			.container {
				overflow: visible;
			}
			h2 {
				background: #1177bf;
				display: inline-block;
				position: relative;
				padding: 30px 30px 30px 0px;
				&:after {
					position: absolute;
					width: 500%;
					height: 100%;
					content: '';
					background: #1177bf;
					left: -500%;
					top: 0;
					z-index: 0;
				}	
			}
		}
	}
}
/*.slick-active {
	.main-slider_item--txt {
		&.bounceInLeft {
			left: 0;
		}
	}
}*/

/** section special **/
.section-special {
	background: #fff;
	padding: 65px 0px 100px;
	&_list {
		display: flex;
		flex-flow: row wrap;
		margin-left: -40px;
		li {
			width: calc(33.3333% - 40px);
			margin-left: 40px;
			.btn {
				position: absolute;
				left: 0px;
				bottom: 0px;
				width: 100%;
			}
			a {
				display: block;
				position: relative;
				height: 100%;
				padding-bottom: 65px;
				figure {
					width: 100%;
					max-height: 150px;
					overflow: hidden;
					margin-bottom: 15px;
					img {
						transition: all .3s ease;
					}
				}
				h3 {
					font-size: 20px;
					color: #1177bf;
					text-align: center;
					margin-bottom: 15px;
				}
				&:hover {
					figure {
						img {
							transform: scale(1.12);
						}
					}
					.btn {
						color: #1177bf;
						&:after {
							right: inherit;
							left: 0;
							width: 100%;
						}
						span {
							&:before {
								border-left: 5px solid #1177bf;
							}
						}
					}
				}
			}
		}
	}
}

/** section links **/
.section-links {
	background: #fff;
	padding: 70px 0px 120px;
	&_list {
		display: flex;
		flex-flow: row wrap;
		li {
			width: 50%;
			padding: 0px 20px;
			a {
				width: 100%;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				background: url(../img/btn-overlay_01.gif) left top repeat;
				.links-info {
					width: 50%;
					text-align: center;
					align-self: center;
					color: #fff;
					p {
						font-size: 12px;
						margin-bottom: 10px;
						font-family: 'DIN';
					}
					h3 {
						font-size: 18px;
						margin-bottom: 25px;
					}
					.links-btn {
						background: #fff;
						color: #000;
						display: inline-block;
						line-height: 1;
						padding: 3px 15px;
						border-radius: 20px;
						span {
							line-height: 1;
							font-size: 12px;
							font-weight: bold;
							display: inline-block;
							position: relative;
							padding-left: 10px;
					  		z-index: 2;
							&:before {
								position: absolute;
								content: '';
								left: 0;
								top: 50%;
								margin-top: -4px;
								width: 0; 
								height: 0; 
								border-top: 5px solid transparent;
								border-bottom: 5px solid transparent;
								border-left: 5px solid #000;
								transition: all 400ms cubic-bezier(1, 0, 0, 1);
							}
						}
					}
				}
				figure {
					line-height: 0;
					width: 50%;
					overflow: hidden;
					img {
						transition: all .3s ease;
					}
				}
				&:hover {
					opacity: .75;
					figure {
						img {
							transform: scale(1.12);
						}
					}
				}
			}
			&:last-child {
				a {
					background: url(../img/btn-overlay_02.gif) left top repeat;	
				}
			}
		}
	}
}