@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.show_sp {
  display: none !important;
}
/*.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}*/
/* .main {
	padding: 60px 0px 80px;
} */
.main{
	background-color: #ededed;
}
.page-title {
	background: #1177bf;
	text-align: center;
	padding: 45px 0px;
	margin-top: 99px;
	&_ttl {
		color: #fff;
		font-size: 30px;
		letter-spacing: 3px;
		span {
			display: block;
			font-size: 14px;
			letter-spacing: 0px;
		}
	}
}
.section-title {
	color: #1177bf;
	font-size: 24px;
	text-align: center;
	position: relative;
	padding-bottom: 25px;
	margin-bottom: 30px;
	&:after {
		position: absolute;
		content: '';
		width: 100px;
		height: 1px;
		background: #1177bf;
		left: 50%;
		bottom: 0;
		margin-left: -50px;
	}
	&_sub {
		font-size: 20px;
		color: #1177bf;
		padding-bottom: 10px;
		margin-bottom: 25px;
		position: relative;
		&:before,
		&:after {
			position: absolute;
			content: '';
			left: 0;
			background: #1177bf;
		}
		&:before {
			bottom: 0;
			width: 100%;
			height: 1px;
		}
		&:after {
			bottom: -3px;
			width: 20%;
			height: 4px;
		}
		&--sm {
			background: #fff;
			color: #1177bf;
			font-size: 16px;
			border: 1px solid #1177bf;
			border-left: 4px solid #1177bf;
			padding: 8px 15px;
			margin-bottom: 22px;
		}
	}
}
.section-head_txt {
	max-width: 860px;
	margin: 0 auto 65px;
}
.btn {
	background: #1177bf;
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding: 7px 10px;
	position: relative;
	border: 1px solid #1177bf;
	transition: all 400ms cubic-bezier(1, 0, 0, 1);
	&:after {
		content: "";
	    width: 0%;
	    height: 100%;
	    position: absolute;
	    right: 0;
	    top: 0;
	    left: inherit;
	    transition: all 400ms cubic-bezier(1, 0, 0, 1);
	    transition-timing-function: cubic-bezier(1, 0, 0, 1);
		background: rgba(255,255,255,1);
	}
	span {
		display: inline-block;
		position: relative;
		padding-left: 15px;
  		z-index: 2;
		&:before {
			position: absolute;
			content: '';
			left: 0;
			top: 50%;
			margin-top: -5px;
			width: 0; 
			height: 0; 
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 5px solid #fff;
			transition: all 400ms cubic-bezier(1, 0, 0, 1);
		}
	}
	&:hover {
		color: #1177bf;
		&:after {
			right: inherit;
			left: 0;
			width: 100%;
		}
		span {
			&:before {
				border-left: 5px solid #1177bf;
			}
		}
	}
}
.breadcrumb {
	padding: 15px 0px;
	background: #fff;
	ul {
		li {
			position: relative;
			padding-left: 25px;
			display: inline-block;
			font-size: 12px;
			font-weight: 400;
			a {
				text-decoration: underline;
			}
			&:before {
				position: absolute;
				left: 10px;
				top: 0px;
				content: '>';
			}
			&:first-child {
				padding: 0;
				&:before {
					content: '';
				}
			}
		}
	}
}
.ttl_art{
	font-size: 26px;
	line-height: 1;
	color: #1177bf;
	font-weight: bold;
	position: relative;
	text-align: center;
	padding-bottom: 30px;
	&:after{
		content:"";
		width: 100px;
		height: 1px;
		background-color: #1177bf;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

/** section technology **/
.section-technology {
	background: #ededed;
	padding: 65px 0px 75px;
	.section-title {
		margin-bottom: 40px;
	}
	&_list {
		display: flex;
		flex-flow: row wrap;
		margin: 0 0 0px -33px;
		li {
			width: calc(25% - 33px);
			margin-left: 33px;
			a {
				display: block;
				text-align: center;
				figure {
					width: 100%;
					max-height: 280px;
					overflow: hidden;
					margin-bottom: 2px;
					img {
						transition: all .3s ease;
					}
				}
				h3 {
					color: #1177bf;
					background: #fff;
					display: block;
					padding: 10px;
				}
				&:hover {
					figure {
						img {
							transform: scale(1.12);
						}
					}
				}
			}
		}
	}
}

.view-more {
	text-align: center;
	margin-top: 50px;
	.btn {
		display: inline-block;
		font-size: 20px;
		width: 100%;
		max-width: 418px;
		padding: 20px 15px;
		font-weight: bold;
	}
}

/** section related **/
.section-related {
	background: #fff;
	padding: 70px 0px 100px;
	&_title {
		font-size: 30px;
		color: #1177bf;
		text-align: center;
		margin-bottom: 20px;
	}
	&_list {
		display: flex;
		flex-flow: row wrap;
		margin-left: -25px;
		li {
			width: calc(33.3333% - 25px);
			margin-left: 25px;
			figure {
				max-height: 200px;
				text-align: center;
				position: relative;
				overflow: hidden;
				&:before {
					position: absolute;
					content: '';
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: rgba(17, 119, 191, 0.6);
					opacity: 0;
					z-index: 2;
					transition: all .3s ease;
				}
				img {
					transition: all .3s ease;
				}
				figcaption {
					position: absolute;
					left: 0;
					width: 100%;
					top: 50%;
					transform: translate(0, -50%);
					font-size: 20px;
					color: #fff;
					background: rgba(17, 119, 191, 0.9);
					padding: 20px 0px;
					font-weight: bold;
					span {
						position: relative;
						padding-left: 15px;
						z-index: 2;
						&:before {
							position: absolute;
							content: '';
							left: 0;
							top: 50%;
							margin-top: -5px;
							width: 0; 
							height: 0; 
							border-top: 5px solid transparent;
							border-bottom: 5px solid transparent;
							border-left: 5px solid #fff;
							transition: all 400ms cubic-bezier(1, 0, 0, 1);
						}
					}
				}
			}
			a {
				display: block;
				&:hover {
					figure {
						&:before {
							opacity: 1;
						}
						img {
							transform: scale(1.12);
						}
					}
				}
				&.current {
					pointer-events: none !important;
					figure {
						&:before {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	&.col-4 {
		.section-related_list {
			margin-left: -20px;
			li {
				width: calc(25% - 20px);
				margin-left: 20px;
			}
		}
	}
}

.button-list {
	display: flex;
	flex-flow: row wrap;
	margin: 0 0 50px -10px;
	li {
		width: calc(25% - 10px);
		margin-left: 10px;
		a {
			display: block;
			background: #fff;
			color: #1177bf;
			font-size: 13px;
			text-align: center;
			padding: 7px 7px;
			position: relative;
			border: 1px solid #1177bf;
			transition: all 400ms cubic-bezier(1, 0, 0, 1);
			&:after {
				content: "";
			    width: 0%;
			    height: 100%;
			    position: absolute;
			    right: 0;
			    top: 0;
			    left: inherit;
			    transition: all 400ms cubic-bezier(1, 0, 0, 1);
			    transition-timing-function: cubic-bezier(1, 0, 0, 1);
				background: #1177bf;
			}
			span {
				display: inline-block;
				position: relative;
				padding-left: 10px;
		  		z-index: 2;
				&:before {
					position: absolute;
					content: '';
					left: 0;
					top: 50%;
					margin-top: -5px;
					width: 0; 
					height: 0; 
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-left: 5px solid #1177bf;
					transition: all 400ms cubic-bezier(1, 0, 0, 1);
				}
			}
			&:hover, &.current {
				color: #fff;
				&:after {
					right: inherit;
					left: 0;
					width: 100%;
				}
				span {
					&:before {
						border-left: 5px solid #fff;
					}
				}
			}
			&.current {
				pointer-events: none !important;
			}
		}
	}
	&.col-3 {
		margin: 0px 0px 50px -10px;
		li {
			width: calc(33.3333% - 10px);
			margin: 0px 0px 10px 10px;
		}
	}
}

.ltie11 {
	.button-list {
		li {
			a {
				font-size: 13px;
			}
		}
	}
}

.data-link {
	display: flex;
	flex-flow: row wrap;
	margin: 0 0 50px -10px;
	li {
		width: calc(100% / 6 - 10px);
		margin-left: 10px;
		text-align: center;
		background: #e1e1e1;
		a {
			display: table;
			align-self: center;
			width: 100%;
			height: 100%;
			background: #e1e1e1;
			font-weight: bold;
			font-size: 13px;
			padding: 10px 5px;
			border: 3px solid #e1e1e1;
			span {
				vertical-align: middle;
				display: table-cell;
			}
			&:hover, &.current {
				border: 3px solid #1177bf;
				background: #fff;
				color: #1177bf;
				box-sizing: border-box;
			}
			&.current {
				pointer-events: none;
			}
		}
	}
}

.wrap-video {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.7);
    overflow: hidden;
    display: none;
    z-index: 99;
    &_in {
        /*position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        height: 50%;
        max-width: 800px;
        padding-bottom: 56.25%;*/
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        display: block;
        height: 0;
        padding-bottom: 56.25%;
    }
    iframe {
        position: absolute;
        top: 10%;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 80%;
        border: 0;
    }
    .close {
        font-size: 28px;
        background: #000;
        color: #fff;
        width: 40px;
        height: 40px;
        text-align: center;
        top: calc(10% - 30px);
        right: calc(10% - 30px);
        position: absolute;
        border-radius: 50%;
        cursor: pointer;
    }
}




/** box contact **/
.gr_box{
    display: flex;
    align-items: center;
    margin-left: -20px;
    padding-bottom: 100px;
    article{
      background-color: #fff;
      padding: 5px;
      width: calc(50% - 20px);
      margin: 0 0 0 20px;
      text-align: center;
      .main_art{
        min-height: 252px;
        border: 2px solid #ededed;
        padding: 35px 28px 25px;
      }
      h3{
        font-size: 20px;
        line-height: 1;
        color: #1177bf;
        font-weight: bold;
        margin-bottom: 28px;
        span{
          position: relative;
          &:before{
            content:"";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
          }
        }
        &.ttl_tel{
          span{
            padding-left: 40px;
            &:before{
              background:url(../img/icon_tel.png) no-repeat;
              background-size: cover;
              width: 25px;
              height: 25px;
            }
          }
        }
        &.ttl_mail{
          span{
            padding-left: 50px;
            &:before{
              background:url(../img/icon_mail.png) no-repeat;
              background-size: cover;
              width: 35px;
              height: 25px;
            }
          }
        }
      }
      .b_tel{
        display: flex;
        flex-flow: row wrap;
        border: 2px solid #ededed;
        /*min-height: 72px;*/
        margin-bottom: 10px;
        span{
          background-color: #ededed;
          width: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          font-weight: bold;
          padding: 20px 0px;
        }
        .tel{
          width: calc(100% - 120px);
          font-size: 36px;
          font-weight: bold;
          color: #ff8811;
          display: flex;
          justify-content: center;
          align-items: center;
          pointer-events: none;
        }
      }
      em{
        font-style: normal;
        font-size: 14px;
        line-height: 25px;
        display: block;
      }
      .list_btn{
        li{
          &:not(:last-child){
            margin-bottom: 10px;
          }
          a{
            font-size: 20px;
            line-height: 1;
            font-weight: bold;
            color: #fff;
            background-color: #ff8811;
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
              position: relative;
              padding-left: 10px;
              &:before{
                content:"";
                background: url(../img/arr.png) no-repeat;
                background-size: cover;
                width: 5px;
                height: 8px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
              }
            }
          }
        }
      }
    }
  }