.footer {
	background: #1177bf;
	color: #fff;
	padding: 30px 0px 30px;
	a {
		color: #fff;
		display: inline-block;
		position: relative;
		padding-left: 10px;
		font-size: 12px;
		&:before {
			content: "";
		    width: 3px;
		    height: 3px;
		    display: block;
		    position: absolute;
		    top: 5px;
		    left: 0px;
		    transform: rotate(45deg);
		    transition: 0.2s;
		    border-top: 1px solid #fff;
    		border-right: 1px solid #fff;
		}
	}
	&-inner {
		border-bottom: 1px solid #fff;
		padding-bottom: 30px;
		margin: 0px 0px 30px;
	}
	&-info {
		width: 100%;
		max-width: 200px;
		margin: 0 auto 35px;
		h3 {
			font-size: 18px;
			border-bottom: 1px solid #fff;
			display: inline-block;
			margin-bottom: 10px;
			padding-bottom: 10px;
		}
		p {
			font-size: 12px;
			line-height: 2;
		}
	}
	&-nav {
	    flex: 2 1 0;
	    columns: 2 auto;
	    flex-direction: column;
	    max-width: 400px;
	    margin: 0 auto;
	    padding: 0px 10px;
		ul {
		    margin-bottom: 20px;
		    width: 100%;
		    display: block;
		    &:nth-child(6) {
		    	order: 4;
		    }
		    &:nth-child(4) {
		    	order: 6;
		    }
		}
	}
}
.copyright {
	font-size: 10px;
	text-align: center;
	display: block;
}

@media screen and (max-width: 360px) {
	.footer {
		a {
			font-size: 11px;
		}
		&-nav {
			padding: 0;
		}
	}
}