.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: #fff;
	padding: 26px 0px 30px;
	z-index: 10;
	transition-duration: 500ms;
    transition-duration: 0ms;
    transition-timing-function: ease;
    transition: 0.3s ease-in-out;
	.container {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		max-width: 940px;
	}
	&.fixed {
		padding: 15px 0px 15px;
	}
}
.gnav_sp {
	display: none !important;
}
.gnav {
	justify-content: flex-end;
	align-self: center;
	flex-direction: row;
	align-items: flex-end;
	ul {
		display: flex;
		flex-flow: row;
		li {
			text-align: center;
			margin-left: 40px;
			&:first-child {
				margin-left: 0;
			}
			a {
				display: block;
				font-size: 16px;
				font-weight: bold;
				letter-spacing: 1px;
				font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
				span {
					font-size: 9px;
					display: block;
					font-weight: normal;
				}
			}
		}
	}
}
#hambuger {
	display: none;
}
.site-logo {
	line-height: 0;
}
@media (min-width: 769px) and (max-width: 960px) {
	.site-logo {
		max-width: 220px;
	}
	.gnav {
		ul {
			li {
				margin-left: 25px;
				a {
					font-size: 15px;
				}
			}
		}
	}
}