
/** Hamburger Menu **/
#hambuger {
	align-self: center;
    display: table;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 99;
    transition: 0.3s ease-in-out;
}
.nav-icon {
    width: 30px;
    height: 18px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #000;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 0px;        
        }
        &:nth-child(2),
        &:nth-child(3) {
            top: 9px;        
        }
        &:nth-child(4) {
            top: 18px;        
        }
    }
    &.open {
        span {
            background: #fff;
            &:nth-child(1) {
                top: 12px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2) {
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
            &:nth-child(4) {
                top: 12px;
                width: 0%;
                left: 50%;
            }
        }
    }
}

.header {
	padding: 15px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    transition: all 1s ease-in-out;
    .site-logo {
        transition: all 1s ease-in-out;
    }
	.container {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
	}
    &.bg {
        background: #1177bf;
        z-index: 10;
        /*position: relative;*/
        .site-logo {
            opacity: 0;
            a {
                pointer-events: none;
            }
        }
    }
}
.site-logo {
	max-width: 220px;
	align-self: center;
	line-height: 0;
	a {
		display: block;
	}
}
.gnav {
	display: none;
}
.nav-close {
    background: #fff;
    text-align: center;
    padding: 15px 0px;
    span {
        display: inline-block;
        background: #333333;
        color: #fff;
        font-size: 13.5px;
        font-weight: bold;
        line-height: 1;
        width: 140px;
        padding: 10px 0px;
    }
}
.gnav_sp {
	position: fixed;
	width: 100%;
	height: calc(100% - 64px);
	left: 0;
	top: 64px;
    z-index: 99;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
    &.opened {
        visibility: visible;
        opacity: 1;
    }
	ul {
		li {
			background: #4ca8e9;
            border-bottom: 1px solid #1177bf;
            a, span {
                color: #fff;
                display: block;
                font-size: 12px;
                font-weight: bold;
            }
            span {
                padding: 15px 15px 15px 10px;
            }
            a {
                padding: 15px 15px 15px 25px;
                position: relative;
                &:before {
                    content: "";
                    width: 4px;
                    height: 4px;
                    display: block;
                    position: absolute;
                    top: 20px;
                    left: 10px;
                    transform: rotate(45deg);
                    transition: 0.2s;
                    border-top: 1px solid #fff;
                    border-right: 1px solid #fff;
                }
            }
			ul {
				li {
					background: #1177bf;
                    border-bottom: 1px solid #4ca8e9;
                    &:last-child {
                        border-bottom: none;
                    }
                    a {
                        font-weight: normal;
                    }
				}
			}
            &:nth-child(3) {
                ul {
                    display: flex;
                    flex-flow: row wrap;
                    li {
                        width: 50%;
                        &:nth-child(2),
                        &:nth-child(4),
                        &:nth-child(6),
                        &:nth-child(9) {
                            border-left: 1px solid #4ca8e9;
                        }
                        &:nth-child(7),
                        &:nth-child(10) {
                            width: 100%;
                        }
                    }
                }
            }
		}
	}
}